body,html {
    height: 100%;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.page-container{
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    height: auto;
    width: 90%;
    margin: 0px 5%;
    margin-top: 90px;
}

.top-divs{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

header{
    background-color: #222629;
    height: 80px;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: row;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

.cont-div {
    border: 1px solid blue;
    padding: 20px;
    margin: 10px;
}

#video-background {
    right: 0; 
    bottom: 0;
    z-index: -1;
    overflow: hidden;
  }

 

.logo-container, img, p{
    border-radius: 60px 60px;
    display: flex;
    padding: 10px;
    padding-left: 10px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 22px;
}

.logo-container p{
    padding-left: -50px;
}

.nav-links, nav{
    margin-top: -10px;
    padding-left: 150px;
    margin: auto;
}

.nav-links a{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
    color: antiquewhite;
    padding: 15px;
}

.nav-links a:hover{
    color: greenyellow;
}

.section1{
    z-index: 1;
}

.back-video {
    z-index: -1;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.heading h1 {
    color: greenyellow; 
    font-size: 2em; 
    text-align: center;
}

.form-container{
    background-color: white;
}

footer{
    height: 150px;
    background-color: #222629;
}

.footer-info p{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}